logger-test-app/src/main/app/logger-test-app.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:eli-logger="http://www.mulesoft.org/schema/mule/eli-logger" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/eli-logger http://www.mulesoft.org/schema/mule/eli-logger/current/mule-eli-logger.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    <eli-logger:eli-mule-config name="ELILogger__Mule_Configuration" appId="123" type="someType" appName="appName" appVersion="appVersion" channel="appChannel" doc:name="ELILogger: Mule Configuration" showPayload="true"/>
    <json-logger:config name="JsonLoggerModule__Logger_Configuration" doc:name="JsonLoggerModule: Logger Configuration"/>
    <flow name="logger-test-appFlow">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="15000"/>
            <logger message="START" level="INFO" doc:name="Logger"/>
        </poll>
        <set-payload value="#['test payload']" doc:name="Set Payload" mimeType="application/java"/>
        <json-logger:logger config-ref="JsonLoggerModule__Logger_Configuration" doc:name="JsonLoggerModule">
            <json-logger:logger-json message="#[payload]" />
        </json-logger:logger>
        <scripting:component doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[Thread.sleep(3000);
return payload;]]></scripting:script>
        </scripting:component>
        <json-logger:logger config-ref="JsonLoggerModule__Logger_Configuration" doc:name="JsonLoggerModule">
            <json-logger:logger-json message="#[payload]"/>
        </json-logger:logger>
    </flow>
</mule>
